* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.window {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.images {
    position: relative;
    transition: all 0.3s;
}

.images > img {
    width: 100%;
}

.images > img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.images > img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 100%;
}