* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

kbd {
    border: 1px solid red;
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    margin: 10px;
    position:relative;
}

kbd > button {
  position:absolute;
  left:0;
  top:0;
  display:none;
}

kbd:hover > button{
  display: inline-block
}
main {
    text-align: center
}